<section class="add container">
    <div>
        <md-card class="card-box">
            <md-card-title>Add a use case</md-card-title>
            <md-card-content>
                <md-input [(ngModel)]="title" placeholder="Title" align="end"></md-input>
                <md-input [(ngModel)]="body" placeholder="Body" align="end"></md-input>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="primary" (click)="addUseCase()">ADD</button>
            </md-card-actions>
        </md-card>
    </div>
</section>