.app-wrapper {
  background: $app-background;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  header {
    height: 50px;
    width: 100%;

    div {
    background: $app-main;
      height: 100px;
      @include centerer();

      nav {
        float: right;
        height: 100%;
        line-height: 50px;

        a {
          padding: 15px 20px;
          color: white;
        }
      }
    }
  }
}



