
// colors:
$app-background: rgb(250, 256, 267);
$app-main: rgb(135, 143, 157);
$app-secondary: rgb(125, 134, 148);

// Dimensions
$max-width: 1200px;

// Utilities
$font-app: 'Lato', sans-serif;

// mixins
@mixin centerer(){
  width: $max-width;
  margin: 0 auto;

}@mixin font-app($weight){
  font-family: $font-app;
  font-weight: $weight;
}